PORT=3001
CLIENT_URL=http://localhost:5173
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=tu_password
PG_DATABASE=patitas_db
MONGO_URI=mongodb://127.0.0.1:27017/patitas_catalog
JWT_SECRET=tu_jwt_secret_largo
APP_ENCRYPTION_KEY=tu_clave_de_encriptacion